.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/.gitattributes
**/.vscode/**
**/.github/**
**/.gitlab/**
**/.idea/**
**/.vscode-test/**
**/*.ts
**/*.map
**/*.tsbuildinfo
**/*.log
**/*.vsix
**/node_modules/**
!**/out/**
**/dist/**
**/*.ts
**/*.tsx
**/*.js.map
**/.eslintrc.json
**/.prettierrc
**/tsconfig.json
**/package-lock.json
**/yarn.lock
**/README.md
**/.gitignore
**/.gitattributes